# Super user credentials
# This user can, for example, view and download all competitors logs and sources
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@email.com
SUPERUSER_PASSWORD=admin_master_password

# Available options for team selection when creating an account (comma-separated)
TEAMS=team 1,team 2

# Required code to create an account
INVITATION_CODE=1234

# Secret for encrypting Django cookies
# You can generated one with `openssl rand -hex 16`
DJANGO_SECRET_KEY=1234

# DB password
POSTGRES_PASSWORD=password

# Credentials for the repo where public competitors will be sent
PUBLISHER_REMOTE=git@github.com:sitegui/temp.git
PUBLISHER_WEB_URL=https://github.com/sitegui/temp

# The list of authorized hosts (comma-separated), used by Django and Let's Encrypt
ALLOWED_HOSTS=angers.schoolofai.fr

# The docker image name for the players
PLAYER_IMAGE_NAME=rl-arena-player
# Whether to push docker images to a repository (0 or 1)
PLAYER_IMAGE_PUSH=0

# The name of the Google Cloud Storage bucket
GS_BUCKET_NAME=sitegui-rl-arena-dev