# Super user credentials
# This user can, for example, view and download all competitors logs and sources
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@email.com
SUPERUSER_PASSWORD=admin_master_password

# Available options for team selection when creating an account (comma-separated)
TEAMS=team 1,team 2

# Required code to create an account
INVITATION_CODE=1234

# Secret for encrypting Django cookies
# You can generated one with `openssl rand -hex 16`
DJANGO_SECRET_KEY=1234

# DB password
POSTGRES_PASSWORD=password

# Credentials for the repo where public competitors will be sent
PUBLISHER_REMOTE=git@github.com:sitegui/temp.git
PUBLISHER_WEB_URL=https://github.com/sitegui/temp

# The path of this repo on the host machine, used to create absolute paths
# from within some containers
HOST_CWD=/path/to/this/repo

# The list of authorized hosts (comma-separated), used by Django and Let's Encrypt
ALLOWED_HOSTS=angers.schoolofai.fr