{% load static navigation %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'web/bootstrap-4.3.1.min.css' %}">
    {% block extra_head %}{% endblock extra_head %}

    <title>RL Arena</title>
</head>
<body>
    {% navigation %}

    {% if messages %}
        <div class="w-100">
            {% for message in messages %}
                <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show m-3" role="alert">
                    <strong>{{ message.message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container my-2">
    {% block content %}{% endblock content %}
    </div>
    
    <script src="{% static 'web/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'web/bootstrap-4.3.1.bundle.min.js' %}" ></script>
</body>
</html>