{% extends 'web/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Competitor {{ competitor.name }} - <span class="badge badge-info">v{{ competitor.last_version }}</span></h1>

<p><span class="text-muted">by <a href="{{ competitor.submitter.get_absolute_url }}">{{ competitor.submitter.username }}</a></p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Version</th>
            <th scope="col">Submission date</th>
            <th scope="col">Source</th>
            <th scope="col">Build status</th>
            <th scope="col">Test status</th>
            <th scope="col">Tournament edition</th>
            <th scope="col">Ranking</th>
        </tr>
    </thead>
    <tbody>
        {% for revision, span, participants in revisions_participants %}
            <tr>
                <th scope="row" rowspan="{{ span }}">v{{ revision.version_number }}</th>
                <td rowspan="{{ span }}">{{ revision.created_at }}</td>
                <td rowspan="{{ span }}">
                    {% if fully_visible %}
                        <a href="{% url 'revision_source_download' active_environment_slug competitor.name revision.version_number %}">Download source as ZIP</a>
                    {% endif %}
                    <br>
                    {% if revision.publish_state == revision.PUBLISH_FAILED %}
                        (failed to publish to GitHub)
                    {% elif revision.publish_state == revision.PUBLISH_COMPLETED %}
                        <a href="{{ revision.publish_url }}" target="_blank">View on GitHub</a>
                    {% elif revision.publish_state != revision.PUBLISH_SKIPPED %}
                        (publishing to GitHub)
                    {% endif %}
                </td>
                <td rowspan="{{ span }}">
                    {% if revision.image_state == revision.IMAGE_FAILED %}
                        <span class="badge badge-danger">Failed</span>: {{ revision.image_error_msg }}
                    {% elif revision.image_state == revision.IMAGE_COMPLETED %}
                        <span class="badge badge-success">Finished</span>
                    {% else %}
                        <span class="badge badge-secondary">Pending</span>
                    {% endif %}
                    <br>
                    {% if fully_visible and revision.image_logs %}
                        <a href="{% url 'revision_image_logs_download' active_environment_slug competitor.name revision.version_number %}">See logs</a>
                    {% endif %}
                </td>
                <td rowspan="{{ span }}">
                    {% if revision.test_state == revision.TEST_FAILED %}
                        <span class="badge badge-danger">Failed</span>: {{ revision.test_error_msg }}
                    {% elif revision.test_state == revision.TEST_COMPLETED %}
                        <span class="badge badge-success">Finished</span>
                    {% else %}
                        <span class="badge badge-secondary">Pending</span>
                    {% endif %}
                    <br>
                    {% if fully_visible and revision.test_logs %}
                        <a href="{% url 'revision_test_logs_download' active_environment_slug competitor.name revision.version_number %}">See logs</a>
                    {% endif %}
                </td>
                {% for participant in participants %}
                    {% with participant.tournament as tournament %}
                        {% if not forloop.first %}
                            </tr>
                            <tr>
                        {% endif %}
                        <td>
                            {{ tournament.edition }}
                            {% if tournament.state == tournament.RUNNING %}
                                <span class="badge badge-secondary">Pending</span>
                            {% endif %}
                        </td>
                        <td>{{ participant.ranking }} out of {{ tournament.participants.count }}</td>
                    {% endwith %}
                {% empty %}
                    <td>-</td>
                    <td>-</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="p-2">
    <h2>Submit a new version</h2>
    <form action="{{ competitor.get_absolute_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ new_revision_form|crispy }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

{% endblock content %}