{% extends 'web/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Environment {{ environment.name }}</h2>

<div>{{ environment.description_html | safe }}</div>

<h3>Submit your player</h3>
{% if request.user.is_authenticated %}
    <form action="{% url 'new_submission' environment.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ new_submission_form|crispy }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% else %}
    Please login before
{% endif %}

{% endblock content %}