{% extends 'web/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ environment.name }}</h1>


<div class="my-2 bg-light p-3">
    {{ environment.description_html | safe }}
    <p>See the <a href="https://github.com/school-of-ai-angers/rl-arena/blob/master/environments/{{ environment.slug }}/environment.py" target="_blank">Python source</a> of this environment</p>
</div>

<div class="row my-2">
    {% if request.user.is_authenticated %}
        <div class="col-sm-4">
            <h2>Submit a new player</h2>
            <form action="{% url 'environment_home' environment.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ new_competitor_form|crispy }}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col">
            <h2>Your players</h2>
            {% if user_competitors %}
                <ul class="list-group">
                    {% for competitor in user_competitors %}
                        <li class="list-group-item"><a href="{% url 'competitor_home' environment.slug competitor.name %}">{{ competitor.name }} - <span class="badge badge-info">v{{ competitor.last_version }}</span></a>
                        {% with competitor.last_revision as revision %}
                            {% if revision.test_state == revision.TEST_COMPLETED %}
                                <span class="badge badge-success">Ready</span>
                            {% elif revision.test_state == revision.TEST_FAILED or revision.image_state == revision.IMAGE_FAILED %}
                                <span class="badge badge-danger">Failed</span>
                            {% else %}
                                <span class="badge badge-secondary">Pending</span>
                            {% endif %}
                        {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                You don't have any. Yet!
            {% endif %}
        </div>
    {% else %}
        <div class="col">
            <h2>Submit your player</h2>
            Please login to be able to submit your player
        </div>
    {% endif %}
</div>

<div class="row my-2">
    <div class="col">
        <h2>Tournaments</h2>
    </div>
</div>

{% endblock content %}