{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">RL Arena</h1>
    <p class="lead">{% lorem 20 w %}</p>
    <hr class="my-4">
    <p>{% lorem 1 b %}</p>

    <div class="row">
        {% for env in environments %}
            <div class="card mx-2" style="width: 18rem;">
                <img src="{% static env.image_static %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ env.name }}</h5>
                    <p class="card-text">{{ env.num_competitors }} competitor{{ env.num_competitors|pluralize }} by {{ env.num_submitters }} user{{ env.num_submitters|pluralize }}</p>
                    <a href="{% url 'environment_home' env.slug %}" class="btn btn-primary stretched-link">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}