{% extends 'web/base.html' %}

{% block content %}
<h2>Environment {{ submission.environment.name }}</h2>

<ul>
    <li>Submitted by <a href="{% url 'user_home' submission.submitter.username %}">{{ submission.submitter.username }}</a></li>
    <li>Revision {{ submission.revision }}</li>
    <li>Received at {{ submission.created_at }}</li>
    {% if fully_visible %}
        <li><a href="{% url 'submission_download' submission.environment.slug submission.pk %}">Download source code</a></li>
    {% endif %}
    {% if submission.github_source %}
    <li><a href="{{ submission.github_source }}">GitHub source</a></li>
    {% endif %}
    <li>
        Docker image:
        <ul>
            <li>Started at {{ submission.image_started_at }}</li>
            <li>Ended at {{ submission.image_ended_at }}</li>
            {% if fully_visible and submission.image_logs %}
                <li><a href="{% url 'submission_image_logs' submission.environment.slug submission.pk %}">Download build logs</a></li>
            {% endif %}
        </ul>
    </li>
    <li>
        Smoke test:
        <ul>
            <li>Started at {{ submission.test_started_at }}</li>
            <li>Ended at {{ submission.test_ended_at }}</li>
            {% if fully_visible and test_logs %}
                <li><a href="{% url 'submission_test_logs' submission.environment.slug submission.pk %}">Download test logs</a></li>
            {% endif %}
        </ul>
    </li>
</ul>

{% endblock content %}