<div class="my-2">
{% if tournament.state == tournament.RUNNING %}
    Tournament is in progress (started at {{ tournament.started_at }})
    <div class="progress" style="height: 25px;">
    {% if tournament.completed_duels %}
        <div
            class="progress-bar progress-bar-striped"
            style="width: {{ good_progress_width }}%">
            {{ tournament.completed_duels }} matches
        </div>
    {% endif %}
    {% if tournament.failed_duels %}
        <div
            class="progress-bar progress-bar-striped bg-danger"
            style="width: {{ bad_progress_width }}%">
            {{ tournament.failed_duels }} matches
        </div>
    {% endif %}
    </div>
{% else %}
    Started at {{ tournament.started_at }} and ended at {{ tournament.ended_at }}
{% endif %}
</div>

{% if tournament.failed_duels %}
    <div class="alert alert-danger">
        {{ tournament.failed_duels }} match{{ tournament.failed_duels|pluralize:'es' }} failed to finish
    </div>
{% endif %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Player</th>
            <th scope="col">User</th>
            <th scope="col">Points</th>
            <th scope="col">Wins</th>
            <th scope="col">Draws</th>
            <th scope="col">Losses</th>
            <th scope="col">Total score</th>
        </tr>
    </thead>
    <tbody>
        {% for player, ranking in players_and_rankings %}
            <tr>
                {% if ranking %}
                    <th scope="row" rowspan="{{ ranking.span }}">{{ ranking.ranking }}</th>
                {% endif %}
                {% with player.revision.competitor as competitor %}
                    <td>
                        <a href="{% url 'tournament_participant' tournament.environment.slug tournament.edition competitor.name %}">
                            {{ competitor.name }} - <span class="badge badge-info">v{{ competitor.last_version }}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'user_home' competitor.submitter.username %}">{{ competitor.submitter.username }}</a>
                    </td>
                {% endwith %}
                <td>{{ player.points }}</td>
                <td>{{ player.wins }}</td>
                <td>{{ player.draws }}</td>
                <td>{{ player.losses }}</td>
                <td>{{ player.total_score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>